.f-banner
  color: $headerBgCol
  //padding: 80px 275px 146px
  letter-spacing: 0.02em
  font-family: $fontRobotoSlab
  font-style: normal
  box-sizing: border-box

.f-banner-container
  margin: 0 auto
  padding-top: 80px
  padding-bottom: 145px
  +phone
    padding-top: 33px
    padding-right: 21px
    padding-bottom: 80px


.f-banner__title
  font-weight: bold
  font-size: 42px
  line-height: 42px
  margin-bottom: 17px
  max-width: 657px
  width: 100%
  +phone
    font-size: 32px

.f-banner__subtitle
  font-family: $fontRoboto
  font-size: 24px
  line-height: 28px
  font-weight: bold
  margin-bottom: 45px
  +phone
    font-size: 18px
    margin-right: 150px
    margin-bottom: 36px

.f-feature-wrap
  +flexbox
  +justify-content
  +phone
    +flex-wrap(wrap)

.f-feature
  font-family: $fontRoboto
  background: #ffffff
  padding: 13px 20px
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1)
  border-radius: 8px
  margin-right: 20px
  &:last-child
    margin-right: 0
  +phone
    margin-bottom: 20px

.f-feature__title
  font-weight: 500
  font-size: 14px
  line-height: 24px
  letter-spacing: 0.05em
  color: #1C1C1C
  text-transform: uppercase
  +phone
    font-size: 12px

.f-feature__num
  font-size: 24px
  line-height: 24px
  letter-spacing: 0.02em
  color: #991E66

.f-banner-slider-buttons-wrapper
  //position: absolute
  z-index: 100
  background: #FFFFFF
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1)
  border-radius: 8px
  padding: 50px 280px 50px 70px
  //top: 450px
  //left: 275px
  width: 100%
  +phone
    padding: 26px 16px

.f-md-card
  &.md-card
    +box_shadow(none)
  &.md-card .md-subhead
    opacity: 1

  .f-slider-controls
    +flexbox
    +justify-content
    align-items: center
    +phone
      +flex-direction(column)
      width: 100%

  .f-banner-control
    font-weight: 500
    font-size: 18px
    line-height: 24px
    margin-right: 24px
    &:last-child
      margin-right: 0
    +phone
      margin-right: 0px
      margin-bottom: 13px
      &:last-child
        margin-bottom: 35px

  .f-banner-button
    font-weight: bold
    font-size: 16px
    line-height: 24px
    text-align: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #FFFFFF
    background: #43AC34
    border: 1px solid rgba(28, 28, 28, 0.15)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 8px
    padding: 18px 17px
    +phone
      //width: 100%
      padding: 13px 10px
      font-size: 14px



    &--bg-kari
      background: #991e66
    &--bg-blue
      background: #1990FE
    &--bg-purple
      background: #6A24DB

  .md-card-actions
    +justify-content(center)
    margin-top: -80px
    +tablet
      padding: 0px
    +phone
      margin-top: -115px


  .swiper-pagination
    +phone
      position: static