.f-header
	width: 100%
	padding: 0px
	background-color: $headerBgCol
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15)
	&__inner
		+flexbox
		+flex-wrap(wrap)
		width: calc(1920px)
		max-width: 100%
		padding-left: 100px
		padding-right: 100px
		margin: 0 auto
		+tablet
			width: calc(#{$tablet-width})
		+medium
			width: calc(#{$medium-width})
		+medium-down
			padding-left: 34px
			padding-right: 34px
		+large
			width: calc(#{$large-width})
		+large-down
			+justify-content(space-between)
		+extra_large
			width: calc(#{$extra_large-width})
		+phone
			padding-left: 10px
			padding-right: 0px



.f-nav
	font-size: $fontSizeHeaderTop
	line-height: $lineHeightHeaderTop
	color: $fontColorHeaderTop
	text-transform: uppercase
	&--right
		margin-left: auto
		+medium-down
			margin-left: unset
	&__item
		+inline-flex
		+align-items(center)
		&.active, &:hover, &:active
			.f-nav__link
				color: $navActiveCol
	&__link
		color: $fontColorHeaderTop


.f-location
	font-size: $fontSizeHeaderTop
	line-height: $lineHeightHeaderTop
	color: $fontColorHeaderTop
	text-transform: uppercase
	&__item
		margin-left: 7px

.f-contact
	font-size: $fontSizeHeaderTop
	line-height: $lineHeightHeaderTop
	color: $fontColorHeaderTop
	&__phone
		color: $headerAcsentCol
		font-size: $lineSizePhone
//line-height: $lineHeightPhone

.f-menu
	font-size: $fontSizeHeaderMenu
	line-height: $lineHeightHeaderMenu
	&__item
		border-bottom: 3px solid $headerAcsentCol
	&__link
		color: $fontColorMain

.f-uProfile
	+inline-flex
	margin-left: auto
	font-size: $fontSizeHeaderMenu
	line-height: $lineHeightHeaderMenu
	&__item
		color: $fontColorMain
		border-bottom: 3px solid $headerAcsentCol
		+align-self(center)
	&-menu
		+flexbox
		+align-items(center)
		&__item
			+flexbox
			+align-items(center)
			height: 100%
			padding: 13px 25px
			border-left: 1px solid $headerLineCol
			+phone
				padding: 0px 12px

.f-logo
	+inline-flex
	+align-self(center)
	width: 195px
	height: 37px

.f-ic
	+inline-flex
	width: 32px
	height: 32px
	cursor: pointer
	background:
		image: url(../images/header_sprite.svg)
		size: cover
		color: transparent
		position: 0px 0px
		repeat: no-repeat
	+phone
		width: 23px
		height: 23px
	&--phone
		background-position-y: -51px
		+phone
			background-position-y: -39px
	&--user
		background-position-y: -124px
		+phone
			background-position-y: -89px
	&--location
		width: 18px
		height: 18px
		background-position-y: -1px


.f-header
	&__nav
		+flexbox
		//margin-bottom: 10px
		.f-nav__item
			margin-right: 27px
			&:last-child
				margin-right: 0px
		+medium-down
			display: none
	&__location
		+flexbox
		margin-left: 50px
		//margin-bottom: 10px
		.f-location__item
			+align-self(center)
		+medium-down
			margin-left: 0px
	.f-nav--right
		.f-nav__item
			margin-right: 22px
			&:last-child
				margin-right: 0px
	&__contact
		+flexbox
		margin-left: 43px
		//margin-bottom: 10px
		+large-down
			margin-left: auto
		.f-contact__text
			margin-right: 18px
	&__menu
		+flexbox
		margin-left: 80px
		.f-menu__item
			margin-right: 57px
			&:last-child
				margin-right: 0px
		+phone
			//display: none
			position: absolute
			flex-direction: column
			//height: 124px
			top: -20px
			left: 25px
			background-color: #F8FAFB
			padding: 40px
			margin-left: 0px
			width: 245px
	.f-row
		padding: 16px 0
		border-bottom: 1px solid $headerLineCol
		&:last-child
			padding: 12px 0px
			border-bottom-width: 0px
			+justify-content(space-between)
			+phone
				padding: 8px 0px
		&:first-child
			+phone
				display: none
	.f-uProfile__item
		+phone
			display: none
	.btn-gamburg
		display: none
		+large-down
			display: inline-block

.f-menu_outer, .f-menu_wrap
	+flexbox
	+align-items(center)

.f-logo
	+large-down
		order: 2
.f-menu_outer
	+large-down
		order: 1
.f-uProfile
	+large-down
		order: 3
		margin-left: 0px

.f-menu_wrap
	position: relative
	z-index: 2
	+large-down
		display: none