$bodyMinWidth: 320px

$extra_large-width: 1910px
$large-width: 1440px
$medium-width: 1024px
$tablet-width: 768px
$phone-width: 425px
$phone-width-min: 320px

/* main fonts var*/
$fontRoboto: 'Roboto', sans-serif
$fontRobotoSlab: 'Roboto Slab', serif

$fontSizeMain: 20px
$fontSizeHeaderTop: 14px
$lineHeightHeaderTop: 16px
$lineSizePhone: 22px
$lineHeightPhone: 29px
$fontSizeHeaderMenu: 18px
$lineHeightHeaderMenu: 22px


$fontColorMain: #1C1C1C
$fontColorHeaderTop: #828282
$headerAcsentCol: #43AC34
$headerBgCol: #FFFFFF

$headerLineCol: #F8FAFB

$navActiveCol: #991E66



